<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Fish</title>
</head>
<body>
<form action="/add" method="POST">
    <input type="text" name="name" placeholder="Name" required />
    <input type="text" name="description" placeholder="Description" required />
    <input type="text" name="type" placeholder="Type" required />
    <input type="number" name="atk" placeholder="Attack" required />
    <input type="number" name="def" placeholder="Defense" required />
    <input type="number" name="hp" placeholder="HP" required />
    <button type="submit">Submit Fish</button>
</form>
</body>
</html>
