<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <ul>
      <% user.skills.forEach(skill => { %>
      <li><%= skill %></li>
      <% }) %>
    </ul>
  </body>
</html>
