<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FishyDex</title>
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="fish-grid">
    <% if (data && data.length > 0) { %>
        <ul>
            <% data.forEach(f => { %>
                <li>
                    <a href="/fish/<%= f.id %>">
                        <p><%= f.name %></p>
                        <p>#<%= f.id %></p>
                    </a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No fish found.</p>
    <% } %>
    </div>
</body>
</html>
