<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fishydex</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>

  <body>
    <main>
      <div class="container">
        <section class="landing">
          <h1>FISHYDEX</h1>
          <p>Welcome to Fishydex, the ultimate fish encyclopedia!</p>
        </section>
        <section class="dex">
          <div class="about">
            <h1>PROJECT</h1>
            <p>
              Welcome to Fishydex, a comprehensive and interactive guide to fish
              species from around the world. Whether you're an aquarium
              enthusiast, an angler, or simply fascinated by aquatic life,
              Fishydex offers a fun and engaging way to explore and learn about
              different fish.
            </p>
          </div>
        </section>
        <section class="team">
          <h1>FISHYDEX TEAM</h1>
        </section>
      </div>
    </main>
  </body>
</html>
