<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Info</title>
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="nav-bar">
        <button class="btn" onclick="playBack('/')">< back</button>
        <img src="/images/logo.png" alt="fishydex logo" class="logo" height="75" />
        <button class="btn">:]</button>
    </nav>
    <div class="main-container">
        <section>
            <h1>PROJECT INFO</h1>
            <p>
                Welcome to Fishydex, a comprehensive and interactive guide to fish
                species from around the world. Whether you're an aquarium enthusiast, an
                angler, or simply fascinated by aquatic life, Fishydex offers a fun and
                engaging way to explore and learn about different fish.
            </p>
        </section>

        <section>
            <h1>Technologies Used</h1>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Express.js</li>
                    <li>EJS</li>
                    <li>Node.js</li>
                    <li>PostgreSQL</li>
                    <li>SupaBase</li>
                </ul>
        </section>

        <section>
            <h1>Team Members</h1>
            <div class="team-container">
                <div class="team-member">
                    <img src="/images/placeholder.gif" alt="image of tina" />
                    <p class="name">Tina Duong</p>
                </div>
                <div class="team-member">
                    <img src="/images/placeholder.gif" alt="image of jackie" />
                    <p class="name">Jackie Truong</p>
                </div>
                <div class="team-member">
                    <img src="/images/placeholder.gif" alt="image of ben" />
                    <p class="name">Ben Louis</p>
                </div>
                <div class="team-member">
                    <img src="/images/placeholder.gif" alt="image of sebastian" />
                    <p class="name">Sebastian Fok</p>
                </div>
            </div>
        </section>
    </div>
    <audio id="back" src="/sounds/BackSound.mp3"></audio>
    <script>  
        function playBack(destination) {
          const backSound = document.getElementById("back");
          backSound.currentTime = 0;
          backSound.play().catch((e) => console.log("Back sound blocked:", e));
  
          setTimeout(() => {
            window.location.href = destination;
          }, 2200);
        }
      </script>
  </body>
</html>
